// Variables
@import 'variables';

.account_nav {
    background-color: var(--primary--);
    margin-top: -30px;

    .row {
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;

        .col {
            margin-left: 20px;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }

    @media only screen and (min-width: 961px) {
        display: none;
    }
}

.main_account {
    display: flex;
    padding: 200px;
    padding-top: 0;
    padding-bottom: 50px;

    @media only screen and (max-width: 1650px) {
        padding: 100px;
        padding-top: 0;
        padding-bottom: 50px;
    }

    @media only screen and (max-width: 1050px) {
        padding: 20px;
        padding-top: 0;
    }

    @media only screen and (max-width: 960px) {
        display: block;
    }


    .side_bar {

        @media only screen and (max-width: 960px) {
            display: none;
        }

        .brad_crumb {
            color: rgb(32, 32, 32);
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            word-spacing: 5px;
            margin-bottom: 70px;
            margin-top: -20px;
            width: 250px;

            span {
                color: rgb(136, 136, 136);
            }
        }

        .bar {
            .head {
                font-size: 25px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 10px;
            }

            ul {
                padding-left: 15px;

                li {
                    list-style: none;
                    margin-bottom: 10px;

                    a {
                        color: rgb(180, 180, 180);
                        font-size: 17px;
                        font-family: Arial, Helvetica, sans-serif;
                        text-decoration: none;

                        &.active {
                            color: var(--primary--) !important;
                        }
                    }
                }
            }
        }
    }

    .forms {
        background-color: #fff;
        width: max-content;
        height: max-content;
        margin-left: 70px;
        margin-top: 90px;
        border: rgb(207, 207, 207) 1px solid;
        border-radius: 5px;
        padding: 30px;
        padding-bottom: 0;

        @media only screen and (max-width: 1300px) {
            margin-left: 10px;
        }

        @media only screen and (max-width: 960px) {
            width: 100%;
            margin-top: 20px;
            margin-left: 0;
        }

        @media only screen and (max-width: 460px) {
            width: 100%;
        }


        .input {
            margin: 0;
        }

        .card {
            background-color: transparent;
            border: none;
            width: 800px;

            @media only screen and (max-width: 1430px) {
                width: 700px;
            }

            @media only screen and (max-width: 1230px) {
                width: 600px;
            }

            @media only screen and (max-width: 960px) {
                width: 100%;
            }

            form {
                .form_header {
                    h5 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .sub {
                        font-size: 16px;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                        color: rgb(179, 179, 179);
                        border-bottom: rgb(192, 192, 192) 1px solid;
                        margin-bottom: 20px;
                    }
                }

                .txt_field {
                    margin-bottom: 10px;

                    .label {
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        color: rgb(44, 44, 44);

                        .verify_code {
                            width: 100px;
                            margin-right: 10px;
                            border: rgb(219, 219, 219) 1px solid;
                            outline: none;
                            background-color: rgb(248, 248, 248);
                            padding: 3px;
                            padding-left: 10px;
                            border-radius: 3px;
                        }
                    }

                    .input {

                        input,
                        select {
                            width: 350px;
                            border: rgb(219, 219, 219) 1px solid;
                            outline: none;
                            background-color: rgb(248, 248, 248);
                            padding: 3px;
                            padding-left: 10px;
                            border-radius: 3px;

                            @media only screen and (max-width: 460px) {
                                width: 100%;
                            }

                            &.verify_field {
                                width: 250px;
                                margin-right: 5px;

                                @media only screen and (max-width: 460px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }


                .orders {
                    border: rgb(211, 211, 211) 1px solid;
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 20px;

                    .order_head {
                        color: rgb(172, 172, 172);
                        border-bottom: rgb(211, 211, 211) 1px solid;

                        span {
                            margin-left: 20px;

                            @media only screen and (max-width: 460px) {
                                display: block;
                                margin-left: 0;
                            }
                        }
                    }

                    .products {
                        .item {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;

                            .image {
                                display: flex;

                                .img {
                                    img {
                                        width: 80px;
                                        height: 80px;
                                    }
                                }

                                .dtls {
                                    margin-top: 15px;

                                    .name {
                                        font-weight: bold;
                                        line-height: 10px;

                                        a {
                                            text-decoration: none;
                                            color: rgb(54, 54, 54);
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            width: 150px;
                                            display: block;

                                            @media only screen and (max-width: 370px) {
                                                width: 100px;
                                            }
                                        }
                                    }
                                }
                            }

                            .status {
                                color: #fff;
                                font-weight: bolder;
                                font-size: 16px;
                                height: 25px;
                                width: 200px;
                                text-align: center;
                                border-radius: 5px;
                                margin-top: 20px;

                                @media only screen and (max-width: 660px) {
                                    width: 100px;
                                }

                                @media only screen and (max-width: 460px) {
                                    display: none;
                                }
                            }

                            .delivered {
                                background-color: var(--primary--);
                            }

                            .pending {
                                background-color: rgb(255, 252, 68);
                            }

                            .processing {
                                background-color: rgb(255, 252, 68);
                            }
                            .canceled {
                                background-color: rgba(253, 34, 34, 0.774);
                            }
                            .unpaid {
                                background-color: rgba(253, 34, 34, 0.774);
                            }
                        }
                    }
                }
            }
        }
    }
}


