// Variables
@import "variables";

.blog-container {
    padding-left: 250px;
    padding-right: 250px;

    @media only screen and (max-width: 1620px) {
        padding-left: 150px;
        padding-right: 150px;
    }

    @media only screen and (max-width: 1420px) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media only screen and (max-width: 1000px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media only screen and (max-width: 770px) {
        margin-top: -10px;
        padding: 0;
        border-radius: 0;
    }
}

.blog_hero {
    width: 100%;
    height: 446px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 770px) {
        margin-top: -10px;
        border-radius: 0;
    }

    .content {
        text-align: center;
        color: #fff;
        padding: 0 30px;

        h1 {
            font-size: 36px;
            font-style: normal;
            font-weight: 600;

            @media only screen and (max-width: 770px) {
                font-size: 25px;
                padding: 0 30px;
            }
        }

        p {
            width: 70%;
            margin: auto;
            margin-bottom: 40px;

            @media only screen and (max-width: 425px) {
                font-size: 14px;
                width: 90%;
            }
        }

        .searchbar {
            form {
                height: 37px;
                display: flex;
                justify-content: center;

                @media only screen and (max-width: 770px) {
                    padding: 0 30px;
                }

                input {
                    border-radius: 10px 0px 0px 10px;
                    background: #fff;
                    border: none;
                    outline: none;
                    padding: 7px 15px;
                    width: 250px;
                    height: 100%;

                    @media only screen and (max-width: 770px) {
                        width: 190px;
                    }

                    @media only screen and (max-width: 425px) {
                        width: 150px;
                    }
                }
                button {
                    border-radius: 0px 10px 10px 0px;
                    height: 100%;
                    margin-top: 0;
                }
            }
        }
    }
}

.blog-wrap {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 425px) {
        gap: 20px;
    }
}

.blog {
    width: 320px;
    min-width: 320px;
    margin-top: 20px;

    @media screen and (max-width: 769px) {
        width: 45%;
        min-width: 45%;
    }

    @media screen and (max-width: 425px) {
        width: 300px;
    }

    &.last-wide-blog {
        .img {
            img {
                height: 300px;
            }
        }
    }

    .text-blog {
        .title {
            margin-top: 10px;
        }
        .readmore {
            margin-top: 5px;
            .primary_btn {
                border: none;
                padding: 0;

                i {
                    margin-left: 10px;
                }
            }
        }
        &:first-child {
            .title {
                margin-top: 0;
            }
        }
    }

    .img {
        img {
            width: 100%;
            height: 223px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.233);

            @media screen and (max-width: 700px) {
                height: 180px;
            }
        }
    }
    .title {
        color: #457a34;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        margin-top: 20px;

        @media screen and (max-width: 700px) {
            font-size: 17px;
        }

        @media screen and (max-width: 425px) {
            margin-top: 10px;
        }
    }

    .description {
        color: var(--lightgrey--);
        font-family: sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;

        @media screen and (max-width: 700px) {
            font-size: 13px;
        }
    }

    .readmore {
        margin-top: 15px;
        .primary_btn {
            background-color: transparent;
            border: var(--primary--) 1px solid;
            color: var(--primary--);
            text-decoration: none;
        }
    }
}

.blog-details {
    margin-top: -50px !important;

    @media only screen and (max-width: 769px) {
        margin-top: -10px !important;
    }
    .col-12 {
        @media only screen and (max-width: 769px) {
            padding: 0;
        }

        @media only screen and (max-width: 1199px) {
            &:last-child {
                display: none;
            }
        }

        .main_img {
            img {
                width: 100%;
                height: 500px;
                border-radius: 10px;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
                object-fit: cover;
                object-position: center;

                @media only screen and (max-width: 769px) {
                    border-radius: 0;
                }
            }
        }

        .blog {
            width: 100%;
            min-width: 100%;
            margin-top: 0;

            .text-blog {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                &:first-child {
                    margin-top: 0;
                }
            }

            .img {
                img {
                    width: 150px;
                    height: 115px;
                }
            }

            .title {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 18px;
            }

            .description {
                font-size: 14px;
                line-height: normal;
            }
        }
    }
}

.site-container {
    .single-blog {
        & > .blog_title {
            color: #457a34;
            font-family: sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            margin-top: 35px;
            line-height: normal;

            @media only screen and (max-width: 1440px) {
                font-size: 27px;
            }

            @media only screen and (max-width: 1024px) {
                font-size: 22px;
            }

            @media only screen and (max-width: 425px) {
                font-size: 20px;
                line-height: 26px;
            }
        }

        & > .description {
            color: var(--lightgrey--);
            font-family: sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 200;
            margin-top: 15px;

            @media only screen and (max-width: 1024px) {
                font-size: 13px;
            }
        }
    }

    .recomanded {
        margin: 40px 0;

        h4 {
            font-weight: 600;
        }

        .blog-wrap {
            justify-content: start;
            margin-top: 0;

            @media only screen and (max-width: 769px) {
                margin-top: -10px;
            }

            @media only screen and (max-width: 425px) {
                justify-content: center;
            }

            .blog {
                .img {
                    img {
                        @media only screen and (max-width: 500px) and (min-width: 426px) {
                            height: 130px;
                        }
                    }
                }
            }
        }
    }
}
