// Variables
@import 'variables';

.cart{
    .header{
        text-align: center;
        margin-bottom: 30px;

        h1{
            color: var(--primary--);
            font-weight: bold;
            font-size: 25px;
        }
    }

    .table_head{
        .row{
            width: 100%;
            border-top: #cecece 2px solid;
            border-bottom: #cecece 2px solid;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 30px;
            margin-left: 0;

            .col{
                color: #8f8f8f;
                font-weight: bold;
            }

            .item{
                flex: 35%;
                padding-left: 50px;

                @media only screen and (max-width: 870px) {
                    flex: none;
                    width: 150px;
                }

                @media only screen and (max-width: 770px) {
                    flex: 13%;
                }

                @media only screen and (max-width: 604px) {
                    flex: 20%;
                }

                @media only screen and (max-width: 426px) {
                    padding-left: 0;
                }

                @media only screen and (max-width: 426px) {
                    flex: none;
                    width: 90px;
                }
            }
            .price{
                flex: 10%;

                @media only screen and (max-width: 770px) {
                   display: none;
                }
            }
            .qty{
                flex: 10%;

                @media only screen and (max-width: 426px) {
                    flex: none;
                    width: 80px;
                    margin-left: -20px;
                }
            }
            .total{
                flex: 15%;
            }
            .remove{
                flex: 2%;

                @media only screen and (max-width: 426px) {
                    flex: none;
                }
            }
        }
    }

    .table_data{
        .row{
            width: 100%;
            padding-left: 30px;
            background-color: #eeeeee;
            padding-bottom: 10px;
            padding-top: 3px;
            margin-bottom: 2px;
            margin-left: 0;

            @media only screen and (max-width: 426px) {
                padding-left: 0px;
            }

            .item{
                flex: 35%;

                @media only screen and (max-width: 870px) {
                    flex: none;
                    width: 150px;
                }
                @media only screen and (max-width: 426px) {
                    flex: none;
                    width: 120px;
                }
            }
            .price{
                flex: 10%;
                padding-top: 40px;
                font-weight: bold;
                color: var(--darkgrey--);

                @media only screen and (max-width: 1183px) {
                    padding-top: 86px;
                }

                @media only screen and (max-width: 770px) {
                    display: none;
                }
            }
            .qty{
                flex: 10%;
                padding-top: 40px;

                @media only screen and (max-width: 426px) {
                    text-align: center;
                    flex: none;
                }

                input{
                    font-weight: bold;
                    color: var(--darkgrey--);
                    border: #b1b1b1 1px solid;
                    text-align: center;
                    margin-right: 5px;
                    outline: none;
                }

                button{
                    background-color: var(--primary--);
                    color: #fff;
                    font-weight: bold;
                    border: none;
                    outline: none;
                    padding-left: 5px;
                    padding-right: 5px;

                    @media only screen and (max-width: 426px) {
                        display: block;
                        margin-top: 5px;
                    }
                }

                @media only screen and (max-width: 1183px) {
                    padding-top: 86px;
                }

                @media only screen and (max-width: 770px) {
                    margin-left: 20px;
                }

                @media only screen and (max-width: 426px) {
                    margin-left: -20px;
                    flex: none;
                    margin-right: 20px;
                    padding-top: 70px;
                }
            }
            .total{
                flex: 15%;
                padding-top: 40px;
                font-weight: bold;
                color: var(--darkgrey--);

                @media only screen and (max-width: 1183px) {
                    padding-top: 86px;
                }

                @media only screen and (max-width: 426px) {
                    width: 100%;
                    margin-left: -15px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .remove{
                flex: 2%;
                text-align: left;
                padding-top: 35px;
                font-weight: bold;
                color: rgb(255, 0, 0);
                font-size: 20px;
                cursor: pointer;

                @media only screen and (max-width: 1183px) {
                    padding-top: 86px;
                }

                @media only screen and (max-width: 426px) {
                    flex: none;
                }
            }

            .col{
                .dtls{
                    display: flex;
                    margin-top: 5px;

                    @media only screen and (max-width: 1183px) {
                        display: block;
                    }

                    .img{
                        img{
                            width: 100px;
                            height: 100px;
                            margin-right: 50px;

                            @media only screen and (max-width: 426px) {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }

                    .item_name{

                        @media only screen and (max-width: 1183px) {
                            margin-top: 6px;
                        }

                        .name a{
                            color: var(--darkgrey--);
                            font-weight: bold;
                            font-size: 16px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 300px;
                            text-decoration: none;
                            display: block;

                            @media only screen and (max-width: 1183px) {
                                width: 320px;
                            }

                            @media only screen and (max-width: 870px) {
                                width: 150px;
                            }

                            @media only screen and (max-width: 426px) {
                                width: 80px;
                            }
                        }
                        .category a{
                            font-size: 14px;
                            color: var(--darkgrey--);
                            text-decoration: none;
                        }
                        .sku{
                            font-size: 14px;
                            color: var(--darkgrey--);
                        }
                        .veriant{
                            font-size: 14px;
                            color: var(--darkgrey--);
                        }
                    }
                }
            }
        }
    }
}

.checkout{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    @media only screen and (max-width: 396px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .inner{
        border-top: rgb(223, 223, 223) 1.5px solid;

        .total_inc{
            margin-top: 10px;
            text-align: right;
            padding-right: 5px;
            font-size: 18px;
            color:var(--darkgrey--);
            font-weight: bold;

            @media only screen and (max-width: 426px) {
                text-align: center;
            }

            span{
                margin-left: 50px;
            }
        }

        .checkout_btn{
            text-align: right;

            @media only screen and (max-width: 426px) {
                text-align: center;
            }

            button{
                background-color: var(--primary--);
                color: #fff;
                font-weight: bold;
                border: none;
                outline: none;
                padding: 7px;
                width: 300px;
                border-radius: 5px;
                margin-top: 10px;

                @media only screen and (max-width: 396px) {
                    width: 250px;
                }
            }
        }
    }
}
