// Variables
@import 'variables';

.carousel {
    .bg {
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        height: 640px;
        margin-top: -25px;

        @media only screen and (max-width: 768px){
            height: 450px;
        }
    }
}



.Privacy-Policy {
    margin-top: 50px;

    .about-header {
        text-align: center;
        margin-top: 20px;

        &::before {
            content: 'Privacy Policy';
            font-family: 'arial';
            font-size: 70px;
            font-weight: bold;
            color: rgb(243, 243, 243);

            @media only screen and (max-width: 989px){
                font-size: 50px;
            }
        }

        h1 {
            font-size: 40px;
            font-family: 'maian';
            color: var(--primary--);
            margin-top: -55px;

            @media only screen and (max-width: 989px){
                font-size: 30px;
                margin-top: -40px;
            }
        }


    }

    .row {
        justify-content: space-around;
        margin-top: 50px;
        width: 100%;

        .col {
            width: 950px;
            padding: 20px;
            display: flex;
            border: var(--primary--) 1px solid;
            margin-bottom: 20px;

            @media only screen and (max-width: 989px){
                font-size: 50px;
            }

            @media only screen and (max-width: 425px){
                width: 300px;
            }

            .qoute {
                margin-right: 10px;

                i {
                    font-size: 50px;
                }
            }

            .say {
                font-size: 15px;
                color: rgb(163, 163, 163);
                font-weight: bold;

                @media only screen and (max-width: 425px){
                    font-size: 15px;
                }

                .commenter {
                    color: var(--primary--);
                    font-size: 17px;

                    @media only screen and (max-width: 425px){
                        font-size: 17px;
                    }
                }

                .company {
                    font-size: 16px;
                }
            }
        }
    }
}
.terms_and_condition{
    margin-top: 50px;

    .about-header {
        text-align: center;
        margin-top: 20px;

        &::before {
            content: 'Terms And Condition';
            font-family: 'arial';
            font-size: 70px;
            font-weight: bold;
            color: rgb(243, 243, 243);

            @media only screen and (max-width: 989px){
                font-size: 50px;
            }
        }

        h1 {
            font-size: 40px;
            font-family: 'maian';
            color: var(--primary--);
            margin-top: -55px;

            @media only screen and (max-width: 989px){
                font-size: 30px;
                margin-top: -40px;
            }
        }

    }

    .row {
        justify-content: space-around;
        margin-top: 50px;
        width: 100%;

        .col {
            width: 950px;
            padding: 20px;
            display: flex;
            border: var(--primary--) 1px solid;
            margin-bottom: 20px;

            @media only screen and (max-width: 989px){
                font-size: 50px;
            }


            @media only screen and (max-width: 425px){
                width: 300px;
            }

            .qoute {
                margin-right: 10px;

                i {
                    font-size: 50px;
                }
            }

            .say {
                font-size: 15px;
                color: rgb(163, 163, 163);
                font-weight: bold;

                @media only screen and (max-width: 425px){
                    font-size: 15px;
                }

                .commenter {
                    color: var(--primary--);
                    font-size: 17px;

                    @media only screen and (max-width: 425px){
                        font-size: 17px;
                    }
                }

                .company {
                    font-size: 16px;
                }
            }
        }
    }
}


.return_policy{
    margin-top: 50px;

    .about-header {
        text-align: center;
        margin-top: 20px;

        &::before {
            content: 'Return Policy';
            font-family: 'arial';
            font-size: 70px;
            font-weight: bold;
            color: rgb(243, 243, 243);

            @media only screen and (max-width: 989px){
                font-size: 50px;
            }
        }

        h1 {
            font-size: 40px;
            font-family: 'maian';
            color: var(--primary--);
            margin-top: -55px;

            @media only screen and (max-width: 989px){
                font-size: 30px;
                margin-top: -40px;
            }
        }

    }

    .row {
        justify-content: space-around;
        margin-top: 50px;
        width: 100%;

        .col {
            width: 450px;
            height: 200px;
            padding: 20px;
            display: flex;
            border: var(--primary--) 1px solid;
            margin-bottom: 20px;

            @media only screen and (max-width: 989px){
                font-size: 50px;
            }


            @media only screen and (max-width: 425px){
                width: 300px;
            }

            .qoute {
                margin-right: 10px;

                i {
                    font-size: 50px;
                }
            }

            .say {
                font-size: 15px;
                color: rgb(163, 163, 163);
                font-weight: bold;

                @media only screen and (max-width: 425px){
                    font-size: 15px;
                }

                .commenter {
                    color: var(--primary--);
                    font-size: 17px;

                    @media only screen and (max-width: 425px){
                        font-size: 17px;
                    }
                }

                .company {
                    font-size: 16px;
                }
            }
        }
    }
}


